
  <div *ngIf="noIssueDetail" class="noIssue">No Issue Found</div>
  <div class="issue-desc-page">

    <mat-card  class="create-form" [ngClass]="{'show':isForm ,'hide':!isForm }">
      <form [formGroup]="createForm" >
      <section class="mat-typography">      
        <div class="flex-space-between">
          <h3 *ngIf="!issueId">Create a new Issue({{reporterFullName}})</h3> 
          <h3 *ngIf="issueId">Edit Issue</h3> 
            <div>
              <button mat-raised-button class="btn btn-secondary" (click)="addWatcher()" *ngIf="!isWatcher && issueId">
                    <i class="material-icons">visibility </i> Watch 
              </button>  &nbsp;
              <button mat-raised-button class="btn btn-secondary" (click)="removeWatcher()" *ngIf="isWatcher && issueId">
                    <i class="material-icons">visibility_off </i> Unwatch
              </button>  &nbsp;
              <button mat-raised-button class="btn btn-secondary" routerLink="/dashboard">
                <i class="material-icons">undo </i>Dashboard</button> &nbsp;
              <!-- disable if form is pristine or invalid or if any file is not added or removed -->
              <button type="submit" (click)="saveClicked()" 
              [disabled]="(createForm.pristine) ||createForm.invalid " 
              mat-raised-button class="btn btn-secondary" >
              <i class="material-icons">backup </i> Save </button> 
            </div>
          </div>
        </section>
        <mat-divider></mat-divider>
      <br>
      <span *ngIf="!issueId&& issue?.created" class="created-class">
        Created On :<i> {{issue?.created | date}}</i> &nbsp;
      </span>
      <span *ngIf="issueId==''" class="created-class">
          Create On :<i> {{date| date}}</i> &nbsp;
      </span>
        <mat-form-field class="field-full-width">
          <input matInput placeholder ="Title*" formControlName="title" #title>
        </mat-form-field>
          <quill-editor 
          [styles]="editorStyle" 
          placeholder="Describe the issue here .."
          formControlName="description"
           #description
          ></quill-editor>
        <!-- <div [innerHTML]="description"></div> -->
        <mat-form-field class="field-full-width">
            <mat-label>Status*</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let status of statusList" [value]="status">{{status}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="field-full-width">
            <mat-label>Assignee*</mat-label>
            <mat-select formControlName="assignee">
                <mat-option *ngFor="let user of userList" [value]="user.fullName">
             {{user.fullName}}</mat-option>
              </mat-select>
        </mat-form-field>
       
        <mat-form-field class="field-full-width">
          <mat-label>Reporter*</mat-label>
          <input matInput formControlName="reporter" readonly>
        </mat-form-field>

        <span *ngIf="this.issue?.watchers.length>0"> Watcher(s) :</span>&nbsp;
          <span *ngFor="let element of this.issue?.watchers;let lastItem = last;"> 
            <span class="descValue-class">{{element}} <span *ngIf="!lastItem">,</span></span>
          </span>
         <br>
          <input 
          style="display:none"
          type="file"
          (change)="onFileSelected($event)"
           #fileInput
          >
          <button type="button" mat-raised-button class="btn btn-primary" (click)="fileInput.click()" *ngIf='issueId'>
              <i class="material-icons">attach_file </i>Attach and Upload</button>
          <div *ngIf="this.filesArray">  
            <span *ngFor="let element of this.filesArray; let lastItem = last;">
              <li><a href="{{element.url}}" target="_blank">{{element.file}}</a> &nbsp;
                <i class="material-icons close-class" (click)="removeFile(element.fileId)">cancel </i></li>
            </span>
          </div>
          
      </form>
    </mat-card>
  

    <mat-card  class="issue-desc" [ngClass]="{'showBlock':!isForm ,'hide':isForm}">
      <section class="mat-typography">
        <div class="flex-space-between">
          <h3 >Issue Desciption</h3> 
          <div>
            <button mat-raised-button class="btn btn-secondary" (click)="addWatcher()" *ngIf="!isWatcher">
                  <i class="material-icons">visibility </i> Watch
            </button> &nbsp;
            <button mat-raised-button class="btn btn-secondary" (click)="removeWatcher()" *ngIf="isWatcher">
                  <i class="material-icons">visibility_off </i> Unwatch
            </button> &nbsp;
            <button mat-raised-button class="btn btn-secondary" routerLink="/dashboard">
              <i class="material-icons">undo </i>Dashboard</button> &nbsp;
            <button mat-raised-button class="btn btn-secondary" (click)="isForm=true">
                <i class="material-icons">edit </i> Edit
            </button> 
          </div>
        </div>
      </section>
      <mat-divider></mat-divider>
      <br>
      <span class="created-class">Created On :<i> {{issue?.created | date }}</i> &nbsp;
      </span>
      <h4>{{issue?.title}}</h4>
      <div [innerHTML]="issue?.description"></div>
      <p>Assignee :<span class="descValue-class"> {{issue?.assignee}}</span></p>
      <p>Reporter :<span class="descValue-class"> {{issue?.reporter}}</span></p>
      <p>Status : <span class="descValue-class"> {{issue?.status}}</span></p>
      <span *ngIf="this.issue?.watchers.length>0"> Watcher(s) :</span>&nbsp;
      <span *ngFor="let element of this.issue?.watchers; let lastItem = last;"> 
        <span class="descValue-class">{{element}} <span *ngIf="!lastItem">,&nbsp;</span></span>
      </span>
      <br>
      <div *ngIf="this.filesArray?.length>0">  
        <span>Attachments : &nbsp;</span>
          <span *ngFor="let element of this.filesArray; let lastItem = last;">
            <span><a href="{{element.url}}" target="_blank">{{element.file}}</a> <span *ngIf="!lastItem">,&nbsp;</span></span>
          </span>
      </div>
      <br>
    </mat-card>

    <mat-card class="chat" #scrollMe [scrollTop]="scrolltop" [ngClass]="{'showBlock':issueId ,'hide':!issueId}">
      <section class="mat-typography">
        <h3>Comment Section</h3> 
      </section>
        <mat-divider></mat-divider>
        <br>
      <form [formGroup]="commentForm" class="add-comment" >
        <mat-form-field class="field-full-width">
              <mat-label>Leave a comment</mat-label>
              <textarea matInput placeholder="Ex. I have completed this..."  formControlName="comment"
              #comment></textarea>
              <button (click)="sendComment()" 
              [disabled]="commentForm.pristine||commentForm.invalid" 
              mat-raised-button class="btn btn-secondary send-btn" >
              <i class="material-icons">send </i> </button> 
        </mat-form-field>
      </form>
            
    <div  class="chat-history" *ngIf="comments">
      <ul>
        <li class="clearfix" *ngFor="let comment of comments">
          <div class="message-data">
            <span class="message-data-name floatLeft" *ngIf="comment.userFullName != user?.fullName">
               {{ comment?.userFullName }}</span>
            <span class="message-data-name" *ngIf="comment.userFullName == user?.fullName">{{ comment?.userFullName }}</span>
          </div>
          <div class="message my-message" >
            {{comment?.message}}
          </div>
        </li>
      </ul>
    </div>
  </mat-card>

</div> 

 