<nav class="navbar navbar-expand-md navbar-dark bg-dark flex-class">
  <div>
    <span class="material-icons">bug_report </span>
    <a class="navbar-brand" href="/">Issue Tracking App</a> 
  </div>
  <div>
    <span class="material-icons" [hidden]="!fullName">face </span> <span class="user" [hidden]="!fullName">Hey, {{fullName}}</span>
    <span class="material-icons">notifications </span>
    <button mat-raised-button class="btn btn-secondary" (click)="logout()">Logout</button>
  </div>
</nav>
<router-outlet></router-outlet>

